%h4.title Settings

%ul.nav.nav-tabs
  %li.active <a href="#">Import/Export</a>
  %li.disabled <a href="">Preferences</a>

= form_for([:settings, @importexport], :html => { :class => 'form-horizontal' }) do |f|
  - if defined? @importexport and @importexport.errors.any?
    #error_explanation
      %p
        The form contains 
        #{pluralize(@importexport.errors.count, "error")}:
      %ul
      - @importexport.errors.full_messages.each do |msg|
        %li.alert.alert-error= msg
  %fieldset
    %legend Import subscriptions from another reader
    %p 
      If you are switching from another feed reader, you can import your
      existing subscriptions into Google Reader. To do this, you first have to
      export your subscriptions in a standard format called OPML.
    .control-group
      = f.label :opml, 'Select an OPML file', :class => 'control-label'
      .controls
        = f.file_field :opml
        .help-block
          e.g. Select your subscriptions.xml exported from Google Reader.
    .control-group
      .controls
        %button.btn{:type => 'submit'} Upload and Import

